@using Discoursify.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/style.css"> @*This is the style for nav bar*@
    <h1>Hi</h1>
</body>


